backend/.venv
backend/app.log
backend/backup
backend/models

libretranslate/.venv

*.db
*.log
.docker
.dockerignore
docker-compose.override.yml
*__pycache__
*.env
*.log
*.swp
*.swo
*.venv
*.iml
*.xml
.idea

frontend/node_modules
frontend/supabase_key.txt
frontend/supabase_url.txt
frontend/dist
frontend/src/lib/supabaseClient.js
