backend/.venv
backend/app.log
backend/backup
backend/onnxocr/onnx_ocr/__pycache__

libretranslate/.venv

*.db
*.log
.docker
.dockerignore
docker-compose.override.yml
*__pycache__
*.env
*.log
*.swp
*.swo
__pycache__/
*.venv
*.iml
*.xml
.idea

frontend/node_modules
frontend/supabase_key.txt
frontend/supabase_url.txt
frontend/dist


OnnxOCR/onnxocr/models
OnnxOCR/onnxocr/templates

