name: Daily Deploy to Production

on:
  schedule:
    # Ejecuta los domingos a las 12:00 AM (medianoche) hora de República Dominicana (GMT-4)
    - cron: '0 4 * * 0'
  # También permite la ejecución manual
  workflow_dispatch:

# Solo necesitamos permisos de lectura del contenido
permissions:
  contents: read
  pull-requests: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Git identity
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'chore: merge develop into main [skip ci]'
          title: 'Release: Merge develop into main'
          body: 'This is an automated PR to merge develop into main.'
          branch: 'release/merge-develop-into-main'
          base: 'main'
          branch-suffix: 'short-commit-hash'
          delete-branch: true
          draft: false
          labels: |
            automated
            release
